
<h1>Edit</h1>
<LinkTo @route='index'>Index</LinkTo><br>

{{#each this.model.model key="id" as |m|}}
{{#if (eq m.id this.model.params.id)}}
editing<br/>
{{else}}
<Item @model={{m}}/>
{{/if}}
{{/each}}